.container{
    background-color: black; /* this changes the background color*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 650px;
}

.item{
    background-color: white;
    color: yellow; /* changes text color */
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
}

#potato1{
    grid-column: 1 / 3;
    background-color: blue;
}

#potato6{
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    background: yellow;
}

#potato3{
    background-color: red;
}